body {
  background-color: #ecf0f3;
}
.form-control:hover{
  border-color: #39C0ED;
}
.card{
  box-shadow: 13px 13px 20px #cbced1,
 -13px -13px 20px #ffffff;
 font-family: 'Nunito', sans-serif;
 border-radius: 30px;
}
.card-body, .card-info, .card-title {
  background-color: #ffffff;
}
